.narrative{
    background-color: var(--bgd-section);
    padding-top: 106px;
}

.narrative-list{
    display: flex;
    flex-direction: column;
    gap: 20px;

    text-align: center;
}
@media screen and (min-width:1440px) {
    .narrative-list{
        margin-top: 40px;
    }
}

.narrative-title{
    color: var(--color-white-text);

    font-size: 25px;
    font-weight: 500;
    line-height: 1.4;
}
@media screen and (min-width:768px) {
    .narrative-title{
        font-size: 25px;
    }
}
@media screen and (min-width:1440px) {
    .narrative-title{
        font-size: 30px;
    }
}

.narrative-descr{
    color: var(--color-white-text);

    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
}
@media screen and (min-width:768px) {
    .narrative-descr{

    }
}
@media screen and (min-width:1440px) {
    .narrative-descr{
        
    }
}

.narrative-icon{
    width: 100%;
}

.narrative-box{
    display: flex;
    justify-content: center;
}
@media screen and (min-width:768px) {
    .narrative-box{

    }
}
@media screen and (min-width:1440px) {
    .narrative-box{
        margin-bottom: 40px;
        margin-top: 40px;
    }
}
    