/* .kind-system{
    background-image: url(/src/image/all/kind_system.png);

    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 1100px ;
} */


.kind-system-block{
    width: 100%;
}
.kind-system-icon{
    width: 100%;
}