<!-- <div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle js-close-menu">
        <svg class="size-burger"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="24"
            
            
        >
            <path 
            fill-rule="evenodd"
            d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            clip-rule="evenodd"
            ></path>
        </svg>
    </button>
                    
    <ul class="mobile-menu">
    <li class="mobile-li">
        <a href="./index.html" class="link studio">Studio</a></li>
    <li class="mobile-li">
        <a href="./Portfolio.html" class="link portfolioo">Portfolio</a></li>
    <li><a href="" class="link">Contacts</a></li>
    </ul>

    <div class="box-mobile">
        <ul>
            <li class="info-item">
                <a class="info link boxi" href="tel:+110001111111">+11 (000) 111-11-11</a>
            </li>
            <li class="info-item">
                <a class="info link box" href="mailto:info@devstudio.com">info@devstudio.com</a>
            </li>
            
        </ul>

        <ul class="actions-box">
                
            <li>
                <a class="buttons" href="">
                    <svg class="box-icon">
                        <use href="./images/symbol-defs.svg#icon-instagram"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="buttons" href="">
                    <svg class="box-icon">
                        <use href="./images/symbol-defs.svg#icon-twitter"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="buttons" href="">
                    <svg class="box-icon">
                        <use href="./images/symbol-defs.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>
            <li>
                <a class="buttons" href="">
                    <svg class="box-icon">
                        <use href="./images/symbol-defs.svg#icon-linkedin"></use>
                    </svg>
                </a>
            </li>
        </ul>
     </div>                 
</div> -->