header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.no-transparency{
    background: linear-gradient(to right,#3c3b3f,#605c3c);
    backdrop-filter: blur(400px);
    transition: background-color, 3.75s;
    opacity: 1.1;
}

.box-main {
    display: flex;
    align-items: center;
}

.info-tel{
    color: var(--color-white-text);
}

.nav{
    display: flex;
    align-items: center
}

.header-list{
    display: flex;
    align-items: center;
    opacity: 0;
}
@media screen and (min-width: 768px) {
.header-list{
    display: flex;
    gap: 20px;
    opacity: 1;
}
}

@media screen and (min-width: 1440px) {
.header-list{
    gap: 70px;
}
}

.header-item{
    color: var(--color-white-text);
    display: flex;
    justify-content: space-between;
}