header{
    position: fixed;
    z-index: 99;
    padding: 20px 24px;
}
.header-home.no-transparency{
    background: linear-gradient(to right, #3c3b3f, #5c6b33);
    backdrop-filter: blur(400px);
    transition: background-color , 750ms;
}

@media screen and (min-width: 768px) {
.header-home{
    width: 100%;
}
}


@media screen and (min-width: 1440px) {
.header-home{
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 80px;
}

}

.img-logo{
    width: 30px;

}
@media screen and (min-width: 768px) {
.img-logo{
    width: 45px;
}
}
@media screen and (min-width: 1440px) {
.img-logo{
    width: 80px;
}
}

.svit-al-plus{
    position: absolute;
    height: 0;
    left: 34px;
    top: -2px;

    color: var(--bgd-btn-green);
    font-size: 10px;
    font-weight: 700;
    width: 40px;
}
@media screen and (min-width: 768px) {
.svit-al-plus{
    position: absolute;
    height: 0;
    left: 46px;
    top: 0px;

    font-size: 15px;
    font-weight: 700;
    width: 56px;
}
}

@media screen and (min-width: 1440px) {
.svit-al-plus{
    position: absolute;
    width: 188px;
    height: 0;
    left: 78px;
    top: 10px;
    font-size: 30px;
    font-weight: 450;
    margin-left: 10px;
}
}

.logo-descr{
    position: absolute;
    width: 192px;
    height: 0;
    left: 34px;
    top: 24px;
    
    color: var(--color-white-text);
    font-size: 4px;
    font-weight: 700;
}
@media screen and (min-width: 768px) {
.logo-descr{
    position: absolute;
    width: 192px;
    height: 0;
    left: 46px;
    top: 38px;

    font-size: 8px;
}
}

@media screen and (min-width: 1440px) {
.logo-descr{
    position: absolute;
    width: 192px;
    height: 0;
    left: 90px;
    top: 54px;
    font-size: 20px;    
    font-weight: 400;
}
}


.box-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-tel{
    color: var(--color-white-text);
}

@media screen and (min-width:1024px) {
    .head-tel{
        opacity: 1;
        color: var(--color-white-text);
    }
}

.nav{
    /* position: absolute; */
    opacity: 1;
    display: flex;
    align-items: center
}
@media screen and (min-width: 768px) {
.nav{
    margin-left: 120px;
    margin-right: 0;
}
}

@media screen and (min-width: 1440px) {
.nav{
    margin-left: 350px;
    margin-right: 150px;
}
}

.header-list{
    display: flex;
    align-items: center;
    opacity: 0;
}
@media screen and (min-width: 768px) {
.header-list{
    display: flex;
    gap: 12px;
    opacity: 1;
}
}

@media screen and (min-width: 1440px) {
.header-list{
    gap: 58px;
}
}

.header-item{
    color: var(--color-white-text);
    display: flex;
    justify-content: space-between;
}

.header-item:hover,
.header-item:focus {
    color: var(--bgd-btn-green);
}

.header-icon-menu{
    padding-right: 10px;
}

.icon-tel{
    color: var(--bgd-btn-green);
    font-size: 24px;
    /* padding-right: 20px; */
}
@media screen and (min-width: 768px) {
.icon-tel{
    font-size: 12px;
}
}
@media screen and (min-width: 1440px) {
.icon-tel{
    font-size: 18px;
}
}

.tel{
    width: 240px;
}