.hero{
    background-image: url(../image/hero/@2xdesc.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.hero-title{
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    color: var(--bgd-btn-green);
}

@media screen and (min-width: 768px) {
.hero-title{
    font-size: 50px;
}
}

.hero-info{
    font-size: 12px;
    font-weight: 400;
    color: var(--color-white-text);
}

@media screen and (min-width: 768px) {
.hero-info{
    font-size: 25px;
}
}

@media screen and (min-width: 1440px) {
.hero-info{
    font-size: 20px;
}
}

.btn-hero{
    display: flex;
    height: 42px;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 50px;
    border: 2px solid #95BD27;
    box-shadow: 2px 2px 10px 0px #95BD27, -2px -2px 10px 0px #95BD27;
    background-color: inherit;
    color: var(--color-white-text);
}