.panorama{
    background-color: var(--bgd-color-section);
}

.panorama-title{
    font-size: 25px;
    font-weight: 500;
}
@media screen and (min-width: 768px) {
.panorama-title{
    font-size: 30px;
}
}

/* @media screen and (min-width: 1440px) {
.panorama-title{
font-size: 30px;
}
} */

.panorama-desc{
    font-size: 18px;
    font-weight: 400;
    padding-top: 12px;
    line-height: 1.4;
}
@media screen and (min-width: 768px) {
.panorama-desc{
    font-size: 20px;
}
}

@media screen and (min-width: 1440px) {
.panorama-desc{
    font-size: 22px;
}
}

.panorama-btn{
    height: 42px;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;

    border-radius: 50px;
    border: 2px solid #95BD27;
    box-shadow: 2px 2px 10px 0px #95BD27, -2px -2px 10px 0px #95BD27;

    margin-top: 20px;
    margin-bottom: 50px;
}
@media screen and (min-width: 768px) {
.panorama-btn{
    margin-top: 50px;
    margin-bottom: 20px;
}
}

@media screen and (min-width: 1440px) {
.panorama-btn{
    margin-top: 50px;
    margin-bottom: 48px;
}
}

.panorama-btn:hover,
.panorama-btn:focus {
    background-color: var(--bgd-btn-green);
    color: var(--color-white-text);
}

/* .box-for-panorama{
    position: relative;
}

.panorama-icon{
    position: absolute;
    content: '';
    top: 0px;
    left: 50px;
} */