.panorama{
    background-color: var(--bgd-color-section);
   padding-top: 120px;
}

@media screen and (min-width: 1440px) {
    .panorama{
        padding-top: 200px;
    }
}
.panorama-title{
    font-size: 25px;
    font-weight: 500;
}
@media screen and (min-width: 768px) {
.panorama-title{
    font-size: 35px;
}
}


.panorama-desc{
    font-size: 18px;
    font-weight: 400;
    padding-top: 12px;
    line-height: 1.4;
}
@media screen and (min-width: 768px) {
.panorama-desc{
    font-size: 20px;
}
}

@media screen and (min-width: 1440px) {
.panorama-desc{
    font-size: 22px;
    padding-top: 40px;
}
}

@media screen and (min-width: 1440px) {
.panorama-block{
    margin-left: 80px;
}
}

.panorama-after{
    background-color: var(--bgd-section);
}

.box-for-panorama{
    display: flex;
    justify-content: center;
    width: auto;
    height: 170px;
    margin-left: auto;
    margin-right: auto;
}
@media screen and (min-width:768px) {
    .box-for-panorama{
    width: 720px;
    height: 300px;
    }
}
@media screen and (min-width:1440px) {
    .box-for-panorama{
    width: 1300px;
    height: 100%;
    }
}