@import url('reset.css');

@import url('header.css');
@import url('hero.css');
@import url('./modal.css');
@import url('./burger-menu.css');
@import url('./better.css');
@import url('./panorama.css');
@import url('./pergola.css');
@import url('./NewFooter.css');
@import url('./wind-protection.css');
@import url('./Aura.css');
@import url('./aura-choice.css');
@import url('./NIMB.css');
@import url('./kind-pergola.css');
@import url('./giardi.css');
@import url('./frameless.css');
@import url('./movent.css');
@import url('./animation.css');


/* --------------- */

@import url('./panoramne/options.css');
@import url('./panoramne/advantages.css');
@import url('./panoramne/kind-system.css');
@import url('./panoramne/advantages-kind.css');
@import url('./last-section.css');


/* --------------- */

@import url('./panoramaPageOne/narrative.css');
@import url('./panoramaPageOne/narrative-wind.css');
@import url('./panoramaTwoPage/gilyotina.css');
@import url('./panoramaTwoPage/standart.css');

@import url('./Roof/inovations.css');
@import url('./Roof/roofone/auratwo.css');
@import url('./Roof/roofone/light.css');
@import url('./Roof/rooftwo/pernimb.css');
@import url('./Roof/rooftwo/axial.css');
@import url('./Roof/rooftwo/sliding.css');
@import url('./Roof/roofthree/garden.css');
@import url('./Roof/roofthree/garden-prem.css');


@import url('./noframe/noframe.css');
@import url('./noframe/pageone/parallel.css');
@import url('./Liber.css');
@import url('./soho.css');
@import url('./behaind.css');
@import url('./noframe/pageone/parallel-standart.css');
@import url('./noframe/soho-info.css');
@import url('./noframe/hero-liber.css');
@import url('./noframe/liber-st.css');

:root {
  --bgd-btn-green: #95BD27;
  --bgd-section:#242729;
  --color-text:#242729;
  --color-white-text:#fff;
  --color-black-text:#000;
  --bgd-color-section:#E8E4E5;

  --timing-cubic:cubic-bezier(0.4, 0, 0.2, 1);
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

*,
::before,
::after {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
input,
select {
  padding: 0px;
}

body{
  font-family: Montserrat;
  background-color: var(--bgd-color-section);
}


.container{
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 375px;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0px 24px;
  }
}

@media screen and (min-width: 1440px) {
.container {
    padding: 0px 20px;
    max-width: 375px;
    overflow: hidden;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

.more-information-btn{
  border-radius: 50px;
  border: 2px solid var(--bgd-btn-green);
  box-shadow: 2px 2px 10px 0px var(--bgd-btn-green), -2px -2px 10px 0px  var(--bgd-btn-green);
  display: flex;
  background-color: transparent;

  padding: 10px 20px;
  gap: 10px;
  margin-bottom: 20px;
  margin-top: 20px;

  transition: background-color 500ms var(--timing-cubic)
}

.more-information-btn:hover,
.more-information-btn:focus{
  background-color: var(--bgd-btn-green);
  color: var(--color-white-text);
}

.panorama-btn{
  height: 42px;
  padding: 10px 20px;
  align-items: center;
  gap: 10px;

  border-radius: 50px;
  border: 2px solid #95BD27;
  box-shadow: 2px 2px 10px 0px #95BD27, -2px -2px 10px 0px #95BD27;

  margin-top: 20px;
  margin-bottom: 50px;

  transition: background-color 600ms var(--timing-cubic)
}
@media screen and (min-width: 768px) {
.panorama-btn{
  margin-top: 50px;
  margin-bottom: 20px;
}
}

@media screen and (min-width: 1440px) {
.panorama-btn{
  margin-top: 50px;
  margin-bottom: 48px;
}
}

.panorama-btn:hover,
.panorama-btn:focus {
  background-color: var(--bgd-btn-green);
  color: var(--color-white-text);
}