.garden{
    padding-top: 106px;
}
.garden-icon{
    width: 100%;
}

.garden-title{
    font-size: 25px;

    font-weight: 500;
    line-height: 1.4;

    padding-bottom: 20px;
}
.garden-descr{
    font-size: 18px;

    font-weight: 400;
    line-height: 1.4;

    padding-bottom: 20px;
}
.garden-green{
    color: var(--bgd-btn-green);
    font-size: 18px;

    font-weight: 400;
    line-height: 1.4;
}

@media screen and (min-width:1440px) {
    .garden-flex{
        display: flex;
        flex-direction: row;
        display: flex;
        flex-direction: row;
        gap: 30px
    }
    .garden-box{
        width: 610px;
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 30px;
    }
}